Package: com.null.aovmenuhack
Name: MOD MENU
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: null
Maintainer: null
Author: null
Icon: https://dothanh1110.site/iconlqm.png
Section: Liên Quân
Version: 1.55.x.x
